<div class="banner">
  <h1>
    <a href="" class="typewrite" data-period="2000" data-type='[ "No script...", "No rehearsals...", "No problem!" ]'>
      <span class="wrap"></span>
    </a>
  </h1>




</div>

<a href="#" class="button nav-link">

  <div class="bottom"></div>

  <div class="top">

  <div class="label">Sign up to our mailing list!</div>

    <div class="button-border button-border-left"></div>
    <div class="button-border button-border-top"></div>
    <div class="button-border button-border-right"></div>
    <div class="button-border button-border-bottom"></div>

  </div>

</a>
