.banner {

  display: flex;
  justify-content: center;
  align-items: flex-start;

  a {
    font-size: 50px;
    text-decoration: none;
    color: #1E1E1E;
    padding-top: 25vh;
    display: inline-block;
    position: relative;
    text-align: center;
  }

  a:after {
    content: '';
    height: 50px;
    width: 2px;
    background: #1E1E1E;
    opacity: 0;
    display: inline-block;
    animation: blink 1s linear infinite alternate;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.banner::before {
  content: "";
  background-image: url("banner.jpg");
  background-size: cover;
  height: 70vh;
  width: 100vw;
  position: absolute;
  opacity: 0.5;
}
