.navbar-cusi {
  justify-content: space-between;
  background: $white;
  height: 100px;
  padding: 5px 20px 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar-cusi .navbar-collapse {
  flex-grow: 0;
}

.navbar-cusi .navbar-brand img {
  width: 100px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: grey;
}
